.Header
  %h1 T-shirt.
.TopImage
.LineUpWrapper
  %h2 lineup
  .LineUpWrapper__grid
    -@goods.each do |good|
      =link_to good_path(good.id), data: {"turbolinks" => false} do
        =image_tag(good.image.url, class: "goodImage")
.Footer
  - if session[:user_id]
    =link_to '各種設定', user_path(session[:user_id])
    =link_to 'ログアウト', logout_path, method: 'post'
  - else
    =link_to '管理者ユーザーはこちら', login_path